{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"experimentalTernaries": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "always",
	"insertPragma": false,
	"printWidth": 120,
	"requirePragma": false,
	"tabWidth": 2,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto"
}
